

form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}


input {
  margin: 5px;
}

textarea {
  min-height: 150px;
  width: 83%;
}

button {
  margin-top: 10px;
  width: 200px;
  font-size: 1.5em;
}